apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: artemis-secrets
  namespace: artemis
  labels:
    app.kubernetes.io/name: artemis
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: openbao
  target:
    name: artemis-secrets
    creationPolicy: Owner
  data:
    - secretKey: DB_PASS
      remoteRef:
        key: secret/k8s/artemis/secrets
        property: db_pass
    - secretKey: ADMIN_PASS
      remoteRef:
        key: secret/k8s/artemis/secrets
        property: admin_pass
    - secretKey: MONGODB_PASS
      remoteRef:
        key: secret/k8s/artemis/secrets
        property: mongodb_pass
    - secretKey: RABBITMQ_PASS
      remoteRef:
        key: secret/k8s/artemis/secrets
        property: rabbitmq_pass
    - secretKey: HASURA_SECRET_KEY
      remoteRef:
        key: secret/k8s/artemis/secrets
        property: hasura_secret
    - secretKey: JWT_SECRET_KEY
      remoteRef:
        key: secret/k8s/artemis/secrets
        property: jwt_secret
    - secretKey: CSRF_SECRET
      remoteRef:
        key: secret/k8s/artemis/secrets
        property: csrf_secret
    - secretKey: API_KEY
      remoteRef:
        key: secret/k8s/artemis/secrets
        property: api_key
    - secretKey: CAPTCHA_SECRET
      remoteRef:
        key: secret/k8s/artemis/secrets
        property: captcha_secret
