services:
  nginx:
    image: nginx:${NGINX_VERSION}
    container_name: nginx
    network_mode: "host"
#    ports:
#      - "6666:6666"
    volumes:
      - /srv/matrix/nginx-conf/nginx.conf:/etc/nginx/nginx.conf:ro
      - /srv/matrix/mas-assets/assets:/usr/share/nginx/mas-assets:ro
      - /srv/matrix/synapse-data/tls/fullchain6.pem:/etc/letsencrypt/live/matrix.example.net/fullchain6.pem:ro
      - /srv/matrix/synapse-data/tls/privkey6.pem:/etc/letsencrypt/live/matrix.example.net/privkey6.pem:ro
      - /srv/matrix/nginx-logs:/var/log/nginx
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "{{.Name}}"
    restart: unless-stopped

  matrix-bridge:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: matrix-bridge
    restart: unless-stopped
    network_mode: host
    volumes:
      - /srv/matrix/matrix-as-mm-config:/config:ro
      - /srv/matrix/matrix-as-mm-logs:/app/logs
    depends_on:
      - postgres
      - synapse
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "matrix-bridge"

  mas:
    image: ghcr.io/element-hq/matrix-authentication-service:${MAS_VERSION}
    container_name: mas
    restart: unless-stopped
    network_mode: host
    depends_on:
      - postgres
    volumes:
      - /srv/matrix/synapse-data/homeserver.yaml:/synapse/homeserver.yaml:ro
      - /srv/matrix/mas-config/config.yaml:/config/config.yaml:ro
      - /srv/matrix/mas-data:/data
    environment:
      MAS_CONFIG: /config/config.yaml
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "mas"

  synapse:
    image: ghcr.io/element-hq/synapse:${SYNAPSE_VERSION}
    container_name: synapse
    restart: unless-stopped
    environment:
      SYNAPSE_SERVER_NAME: matrix.example.net
      SYNAPSE_REPORT_STATS: "no"
      SYNAPSE_HTTP_PORT: "8008"
      SYNAPSE_CONFIG_DIR: /data
      SYNAPSE_DATA_DIR: /data
      POSTGRES_PASSWORD: REDACTED_ffef1e87
      TZ: Europe/Amsterdam
      PUID: "991"
      PGID: "991"
    depends_on:
      - postgres
    network_mode: "host"
#    ports:
#      - "8008:8008"
#      - "8448:8448"
    volumes:
      - /srv/matrix/synapse-data:/data
      - /srv/matrix/synapse-media_store:/media_store
      - /srv/matrix/matrix-hookshot/registration.yml:/data/matrix-hookshot/registration.yml:ro
    healthcheck:
      test: ["CMD", "curl", "-fSs", "http://localhost:8008/health"]
      interval: 15s
      timeout: 5s
      retries: 3
      start_period: 5s
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "{{.Name}}"

  matrix-commander:
    image: matrixcommander/matrix-commander:latest
    container_name: matrix-commander
    network_mode: "host"
    volumes:
      - /srv/matrix/matrix-commander-data:/data
    # Uncomment the command below to login and bootstrap cross-signing
    # After first run, you can comment it out or change commands as needed
#    command: >
#      --login password
#      --user-login @hookbot:matrix.example.net
#      --password "REDACTED_fbcc8637"
#      --homeserver https://matrix.example.net
#      --store /data
    stdin_open: true  # Equivalent to -i
    tty: true         # Equivalent to -t
    # This service is meant to be run manually when needed:
    # docker-compose run --rm matrix-commander
    profiles:
      - tools  # Only starts when explicitly called with --profile tools
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "{{.Name}}"

  synapse-admin:
    container_name: synapse-admin
    hostname: synapse-admin
    image: awesometechnologies/synapse-admin:${SYNAPSE_ADMIN_VERSION}
    network_mode: "host"
#    ports:
#      - "8080:80"
    restart: unless-stopped
    depends_on:
      - synapse
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "{{.Name}}"

  element-web:
    image: vectorim/element-web:${ELEMENT_WEB_VERSION}
    container_name: element-web
    network_mode: "host"
#    ports:
#      - "8080:80"
    volumes:
      - /srv/matrix/element-app/config.json:/app/config.json:ro
      - /srv/matrix/element-app/config.matrix.example.net.json:/app/config.matrix.example.net.json:ro
      - /srv/matrix/element-nginx/default.conf.template:/etc/nginx/templates/default.conf.template:ro
      - /srv/matrix/element-app/lake.jpg:/app/themes/element/img/backgrounds/lake.jpg:ro
    environment:
      - ELEMENT_WEB_PORT=8088
      - DEFAULT_HOMESERVER_URL=https://matrix.example.net
      - ENABLE_REGISTRATION=true
    restart: unless-stopped
    depends_on:
      - synapse
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "{{.Name}}"

  ntfy:
    image: binwiederhier/ntfy:${NTFY_VERSION}
    container_name: ntfy
    command:
      - serve
      - --config=/etc/ntfy/server.yml
    environment:
      - TZ=UTC    # optional: set desired timezone
      - NTFY_BASE_URL=https://matrix.example.net
      - NTFY_LISTEN_HTTP=0.0.0.0:8880
      - NTFY_BEHIND_PROXY=true
      - NTFY_PROXY_FORWARDED_HEADER=X-Forwarded-For
      - NTFY_PROXY_TRUSTED_HOSTS=127.0.0.1,10.0.X.X,10.0.X.X
#      - NTFY_AUTH_DEFAULT_ACCESS=deny-all
#      - NTFY_VISITOR_REQUEST_LIMIT_BURST=60
#      - NTFY_VISITOR_REQUEST_LIMIT_REPLENISH=5s
#      - NTFY_VISITOR_MESSAGE_DAILY_LIMIT=100
#    user: UID:GID # optional: replace with your own user/group or uid/gid
    volumes:
      - /var/cache/ntfy:/var/cache/ntfy
      - /srv/matrix/ntfy-etc:/etc/ntfy
    network_mode: host
#    ports:
#      - 80:80
    healthcheck: # optional: remember to adapt the host:port to your environment
        test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:8880/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
        interval: 60s
        timeout: 10s
        retries: 3
        start_period: 40s
    restart: unless-stopped
    init: true # needed, if healthcheck is used. Prevents zombie processes
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "{{.Name}}"

  matrix-hookshot:
    image: halfshot/matrix-hookshot:${HOOKSHOT_VERSION}
    container_name: matrix-hookshot
    restart: unless-stopped
    network_mode: "host"
###    ports:
###      - "9993:9993"    # Homeserver port
###      - "9000:9000"    # Webhook port
###      - "9002:9002"    # Metrics port
    volumes:
      - /srv/matrix/matrix-hookshot/config.yml:/data/config.yml
      - /srv/matrix/matrix-hookshot/registration.yml:/data/registration.yml
      - /srv/matrix/matrix-hookshot/passkey.pem:/data/passkey.pem
      - /srv/matrix/hookshot-cryptostore:/data/cryptostore
    depends_on:
      - hookshot-redis
      - synapse
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "{{.Name}}"

  hookshot-redis:
    image: redis:${REDIS_VERSION}
    container_name: hookshot-redis
    restart: unless-stopped
    network_mode: "host"
#    ports:
#      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - /srv/matrix/hookshot-redis:/data
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "{{.Name}}"

  postgres:
    image: postgres:${POSTGRES_VERSION}
    container_name: postgres
    restart: unless-stopped
    network_mode: "host"
    environment:
      POSTGRES_DB: synapse
      POSTGRES_USER: synapse
      POSTGRES_PASSWORD: REDACTED_ffef1e87
    volumes:
      - /srv/matrix/postgres-data:/var/lib/postgresql/data
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "{{.Name}}"

  cloudflared:
    image: cloudflare/cloudflared:${CLOUDFLARED_VERSION}
    container_name: cloudflare-tunnel
    network_mode: "host"
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=REDACTED
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "{{.Name}}"

  crowdsec:
    image: crowdsecurity/crowdsec:${CROWDSEC_VERSION}
    container_name: crowdsec
    restart: unless-stopped
    network_mode: "host"
#  ports:
#    - 127.0.0.1:8080:8080
    environment:
      COLLECTIONS: "crowdsecurity/nginx"
      GID: "${GID-1000}"
#  depends_on:
#    - "reverse-proxy"
    volumes:
      - /srv/matrix/crowdsec-acquis/acquis.yaml:/etc/crowdsec/acquis.yaml
      - /srv/matrix/crowdsec-logs:/var/log/nginx
      - /srv/matrix/crowdsec-db:/var/lib/crowdsec/data/
      - /srv/matrix/crowdsec-config:/etc/crowdsec/
      - /var/log/docker/containers.log:/var/log/containers.log:ro
      - /srv/matrix/nginx-logs/access.log:/var/log/access.log:ro
      - /srv/matrix/nginx-logs/error.log:/var/log/error.log:ro
    healthcheck:
      test: ["CMD", "cscli", "config", "show"]
      interval: 10s
      timeout: 5s
      retries: 5
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "{{.Name}}"

  custom-bouncer:
    image: crowdsecurity/custom-bouncer:${CUSTOM_BOUNCER_VERSION}
    container_name: custom-bouncer
    restart: unless-stopped
    network_mode: "host"
    entrypoint: ["/bin/sh", "-c", "apk add --no-cache docker-cli jq && /crowdsec-custom-bouncer -c /crowdsec-custom-bouncer.yaml"]
    volumes:
      - /srv/matrix/crowdsec-config/bouncers/crowdsec-custom-bouncer.yaml:/crowdsec-custom-bouncer.yaml:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/matrix/crowdsec-scripts/custom-script:/custom-script:ro
      - /srv/matrix/custom-bouncer-log:/var/log/:rw
      - /srv/matrix/custom-bouncer-flag/flag:/flag:rw
    depends_on:
      crowdsec:
        condition: service_healthy
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "{{.Name}}"
