apiVersion: v1
kind: Secret
metadata:
  name: velero-s3-credentials
  namespace: velero
  labels:
    environment: production
    managed-by: argocd
type: Opaque
stringData:
  cloud: |
    [default]
    aws_access_key_id=admin
    aws_secret_access_key=Exng@n3d!g0lD
