---
apiVersion: velero.io/v1
kind: BackupStorageLocation
metadata:
  name: default
  namespace: velero
  labels:
    environment: production
    managed-by: argocd
spec:
  provider: aws
  default: true
  objectStorage:
    bucket: velero
  config:
    region: seaweedfs
    s3ForcePathStyle: "true"
    s3Url: http://seaweedfs-s3.seaweedfs.svc.cluster.local:8333
---
apiVersion: velero.io/v1
kind: VolumeSnapshotLocation
metadata:
  name: default
  namespace: velero
  labels:
    environment: production
    managed-by: argocd
spec:
  provider: aws
  config:
    region: seaweedfs
